# git ignore file
esperimentiFSharp/Neural/*
esperimentiFSharp/NeuralLanguage/obj/*
esperimentiFSharp/NeuralLanguage/bin/*
esperimentiFSharp/NeuralLanguage/NeuralLanguageParser.fs
esperimentiFSharp/NeuralLanguage/NeuralLanguageParser.fsi
esperimentiFSharp/NeuralLanguage/NeuralLanguageLexer.fs
esperimentiFSharp/ArffLanguage/obj/*
esperimentiFSharp/ArffLanguage/bin/*
esperimentiFSharp/ArffLanguage/ArffLanguageParser.fs
esperimentiFSharp/ArffLanguage/ArffLanguageParser.fsi
esperimentiFSharp/ArffLanguage/ArffLanguageLexer.fs
esperimentiFSharp/NeuralLanguage/NeuralLanguageParser.fsyacc.output
esperimentiFSharp/NeuralNetwork/bin/*
esperimentiFSharp/NeuralNetwork/obj/*
esperimentiFSharp/ArffLanguage/ArffLanguageParser.fsyacc.output
esperimentiFSharp/NeuralTypes/bin/*
esperimentiFSharp/NeuralTypes/obj/*
esperimentiFSharp/Expressions/bin/*
esperimentiFSharp/Expressions/obj/*

*.pdb
*.exe
*.cache